body {
    background: #131313;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:rgb(255, 255, 255);
    margin: 0;
    height: 1000%;
    width: 100%;
    padding: 0;
  }

  .background1{
    /* background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hme4C4_7iosf3emf/realistic-galaxy-milky-way-colorful-space-background_rlfmozgtll_thumbnail-full01.png); */
  }

  .navbar{
      height: 4rem;
  }

  .padre1{
      height: 50%;
  }

  .swiper-container {
    width: 81%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: rgb(31, 31, 31)
  }

  .swiper-pagination {
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .details-slide{
      margin-left: 1.5rem;
  }

  .Pimg{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 20rem;
    width: 300px;
    height: 300px;
  }

  .name{
    margin-top: 0rem;
    font-size: 2rem;
    margin-left: 6rem;
  }

  .swiper-button-next {
    background-image: url(B.\ Flecha\ Derecha.png);
    position: absolute;
    cursor: unset;
    background-position: center;
    background-repeat: no-repeat;
}

  .swiper-button-next:hover{
    outline: none;
    border: none;
}

  .swiper-button-prev {
    background-image: url(B.\ Flecha\ Izquierda.png);
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    z-index: 10;
    cursor: unset;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev:hover{
    outline: none;
    border: none;
}

  .moreinfo{
    margin-left: 7.5rem;
    font-size: 1.1rem;
  }

  .idiomas{
    margin-left: 7.5rem;
    font-size: 0.9rem;
  }

  .s1{
      color: red
  }

  .s2{
      color: red;
  }

  .mainInfo{
    height: 40%;
    background: red;
  }

  .textEffcet {
    height: 76px;
    background: #131313;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin-left: 18rem;
    overflow: hidden;
    margin-top: 12rem;
    box-shadow: 0px 0px 61px 0px rgba(119, 119, 119);
    margin-bottom: 2rem;
  }

  .hackText{
    font-size: 4rem;
    display: grid;
  }

    .hackText:hover{
        animation: shuffle steps(9) 4s infinite;
  }

  @keyframes shuffle{
      0% {
          transform: translateY(0px);
      }
      100%{
          transform: translateY(-685px)
      }
  }

.Pl{
    background: #131313;
}

.padre2{
    height: 30rem;
    background: #131313;
}

